@use 'styles/Colour';
@use 'styles/Layout';
@use 'styles/Typography';
@use 'styles/Illustrations';

.header{
    background-color: Colour.$BEIGE;
    height: 64px;
    z-index: 1;
    img{
        height: 64px;
        padding: 10px;
    }
    > .content{
        display: grid;
        height: 64px;
        padding: 0;

        .header--right{
            position: absolute;
            right: 0;
            top: 25px;
        }

    }
}

.sec0 {
    background-color: Colour.$BEIGE;
    overflow: hidden;
    > .content {
        height: 760px;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 35% 75%;
        padding-top: 0;
        padding-bottom: 0;
        // Roof
        > div:nth-of-type(1)  {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 3;   
            height: 250px;
        }

        // Right Illustrations
        > div:nth-of-type(3) {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;
            height: 100%;
        }
    }

    .downloadLinks {
        display: flex;

        img {
            height: 56px;
            margin-right: 16px;
        }
    }
}

@media (max-width: 916px) {
    .sec0 {
        // padding: 30px;
        background-color: Colour.$BEIGE;
    
        > .content {
            height: 90vh;
            min-height: 600px;
            display: block;
            // grid-template-rows: 35% 75%;
            // Roof
            > div:nth-of-type(1)  {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 1;
                height: 150px;
                display: none;
            }
            // Left Title
            > div:nth-of-type(2) {
                z-index: 10;
                padding-top:25%;
                h3 {
                    // display: none;
                }

            }
    
            // Right Illustrations
            > div:nth-of-type(3) {
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 1;
                height: 100%;
            }
    
        }

        .downloadLinks {
            flex-direction: row;
            margin-top: 32px;
            position: relative;
            z-index: 2;
            margin: auto;   
            display: block;
            img {
                margin-top: 16px;
                margin-bottom: 16px;
                margin-right: 0;
                height: 40px;
            }
        }
    }
}

.sec1{
    text-align: center;

    > .content {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        > div:nth-of-type(1)  {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 1;
            grid-column-end: 5;
            margin-bottom: 40px;
        }
    }
}

.sec1Square {
    padding: 25px;
    >img {
        height: 200px;
        padding: 0 25px;
    }
}
@media (max-width: 916px) {
    .sec1{
        text-align: center;

        > .content {
            display: grid;
            grid-template-columns: 50% 50%;
            > div:nth-of-type(1)  {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            > div:nth-of-type(2)  {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 2;   
            }
            > div:nth-of-type(3)  {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 2;
                grid-column-end: 3;   
            }
            > div:nth-of-type(4)  {
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 1;
                grid-column-end: 2;   
            }
            > div:nth-of-type(5)  {
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 2;
                grid-column-end: 3;   
            }
        }
    }
    
    .sec1Square {
        padding: 10px;
        >img {
        padding: 0;
        height: 150px;
        }
    }
}

.sec2 {
    background-color: Colour.$SOCIAL_L;

    > .content{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-bottom: 0;

        > div:nth-of-type(1) {
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
            margin-bottom: 128px;
        }
        > div:nth-of-type(2)  {
            background: url('images/wellbeingScore.png');
            background-position: center;
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3; 
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

@media (max-width: 916px) {
    .sec2 {
        > .content{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            height: 100%;
            text-align: center;
            > div:nth-of-type(1)  {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 1;
                margin-bottom: 40px;
            }
            > div:nth-of-type(2)  {
                background: url('images/wellbeingScore.png');
                background-position: center;
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                background-repeat: no-repeat;
                background-size: contain;
                height: 250px;
            }
        }
    }
}
.sec3 {
    > .content{
        display: grid;
        grid-template-columns: 50% 50%;
        > div:nth-of-type(2)  {
            grid-column-start: 2;
            grid-column-end: 3;
            margin-top: 64px;  
            margin-bottom: 64px;
        }
        > div:nth-of-type(1)  {
            background: url('images/liveClass.png');
            background-position: center;
            grid-column-start: 1;
            grid-column-end: 2; 
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
@media (max-width: 916px) {
    .sec3 {
        > .content{
            display: grid;
            grid-template-columns: 100%;
            height: 750px;
            > div:nth-of-type(2)  {
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: 2;
                margin-top: 0;
                margin-bottom: 40px;
            }
            > div:nth-of-type(1)  {
                grid-column-start: 1;
                grid-row-start: 2;
                grid-row-end: 3; 
                width: 95%;
                height: 350px;
                margin: auto;
                margin-top: 0;
            }
        }
    }
}   

.separator{
    background: url('images/Separator.png');
            background-repeat: no-repeat;
            height: 20px;
    width: 50%;
    margin:auto;
}

@media (max-width: 916px) {

    .separator{
        width: 80%;
    }
}

.sec4 {
    > .content{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        > div:nth-of-type(2)  {
            grid-column-start: 1;
            grid-column-end: 2;  
            grid-row-start: 1;
            margin-top: 64px;  
            margin-bottom: 64px;
            
        }
        > div:nth-of-type(1)  {
            background: url('images/invite.png');
            background-position: center;
            grid-column-start: 2;
            grid-column-end: 3; 
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

@media (max-width: 916px) {
    .sec4 {
        > .content{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
            > div:nth-of-type(2)  {
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: 2;
                margin-top: 0;
                margin-bottom: 40px;
            }
            > div:nth-of-type(1)  {
                grid-column-start: 1;
                grid-row-start: 2;
                grid-row-end: 3; 
                background-size: contain;
                width: 95%;
                height: 300px;
                margin: auto;
                margin-top: 0;
            }
        }
    }
}
.sec5 {
    > .content{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        > div:nth-of-type(2)  {
            grid-column-start: 2;
            grid-column-end: 3;   
            grid-row-start: 1;
            margin-top: 64px;  
            margin-bottom: 64px;
        }
        > div:nth-of-type(1)  {
            background: url('images/Calendar.png');
            background-position: center;
            grid-column-start: 1;
            grid-column-end: 2; 
            grid-row-start: 1;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

@media (max-width: 916px) {
    .sec5 {
        > .content{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto;

            > div:nth-of-type(2)  {
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: 2;
                margin-top: 0;
                margin-bottom: 40px;
            }
            > div:nth-of-type(1)  {
                grid-column-start: 1;
                grid-row-start: 2;
                grid-row-end: 3; 
                background-size: contain;
                width: 95%;
                height: 350px;
                margin: auto;
                margin-top: 0;
            }
        }
    }
}

.sec6 {
    > .content{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        > div:nth-of-type(2)  {
            grid-row-start: 1;
            grid-column-start: 1;
            grid-column-end: 2;
            margin-top: 64px;  
            margin-bottom: 64px;
            
        }
        > div:nth-of-type(1)  {
            background: url('images/hobbies.png');
            background-position: center;
            grid-row-start: 1;
            grid-column-start: 2;
            grid-column-end: 3; 
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}


@media (max-width: 916px) {
    .sec6 {
        > .content{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
            > div:nth-of-type(2)  {
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: 2;
                margin-top: 0;
                margin-bottom: 40px;
            }
            > div:nth-of-type(1)  {
                grid-column-start: 1;
                grid-row-start: 2;
                grid-row-end: 3; 
                background-size: contain;
                width: 95%;
                height: 400px;
                margin: auto;
                margin-top: 0;
            }
        }
    }
}

.sec7 {
    background: Colour.$BEIGE;

    form {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;

        > div:nth-of-type(1) {
            padding-right: 25px;
            grid-row-start: 1;
            grid-column-start: 1;
            grid-column-end: 2;
            > img{
                width: 300px;
                height: 300px;
                margin: auto;
            }
        }
        > div:nth-of-type(2)  {
            grid-row-start: 1;
            grid-column-start: 2;
            grid-column-end: 3; 
            >.longText{
                height:220px;
            }
            >.button{
                color:Colour.$WHITE;
                background:Colour.$BLUE;
                text-transform: uppercase;
                letter-spacing: 2px;
    -webkit-appearance: none;
                
            }
        }
    }
    >.gdprLegal{
        padding: 50px;
    }
}

@media (max-width: 916px) {
    .sec7 {
        background: Colour.$BEIGE;

        form {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto auto;

            > div:nth-of-type(1)  {
                padding-right: 0;
                grid-row-start: 1;
                grid-column-start: 1;
                grid-column-end: 2;
                > img{
                    width: 300px;
                    height: 300px;
                    margin: auto;
                }
            }
            > div:nth-of-type(2)  {
                grid-row-start: 2;
                grid-column-start: 1;
                grid-column-end: 2; 
                >.longText{
                    height:220px;
                }
                >.button{
                    color:Colour.$WHITE;
                    background:Colour.$BLUE;
                    text-transform: uppercase;
                    letter-spacing: 2px;
    -webkit-appearance: none;
}
            }
        }
        >.gdprLegal{
            padding: 50px;
        }
    }

}

.downloadLinksBottom{
    text-align: center;
    margin:auto;
    flex: 1;
    padding-bottom: 50px;
    img {
        height: 60px;
    }
}


@media (max-width: 916px) {
    .downloadLinksBottom{

        img {
            height: 40px;
        }
    }
    
}


.sec8 {
    color:Colour.$WHITE;
    background:Colour.$BLUE;
    > .content {
        display: flex;
        justify-content: space-between;
    }
    img {
        height: 50px;
    }
    .footerDownload {
        display: flex;

        img {
            height: 56px;
            margin-left: 16px;
        }
    }
}

@media (max-width: 916px) {
    .sec8 {
        .content {
            flex-direction: column;
        }

        color:Colour.$WHITE;
        background:Colour.$BLUE;
        img {
            height: 40px;
        }
        .footerDownload {
            flex-direction: row;

            margin:auto;
            flex: 1;
            padding-bottom: 50px;
            padding-top: 32px;
            img {
                height: 40px;
            }

            // img {
            //     height: auto;
            //     margin-bottom: 16px;
            //     margin-left: 0;
            //     width: 164px;
            // }
        }
    }

}



// @media (min-width: $bp-tabl) {
//     .sSectionContactHalf {
//         background-position: left bottom;
//         background-size: 120px;
//         flex-direction: row;
//         padding: 0;

//         > div {
//             width: 40%;
//         }
//     }

//     .sSectionContactLeft,
//     .sSectionContactLeft > h1 {
//         text-align: left;
//     }

//     .sContactForm {
//         padding: 50px 0;
//     }
// }


// @import '../../../../sass/breakpoints';

// .sSectionFooterRow {
//     display: flex;
//     flex-direction: column;
// }

// .sSectionFooterLogo {
//     margin-bottom: 32px;
//     text-align: center;

//     > img {
//         display: block;
//         height: 40px;
//         margin: 0 auto 56px;
//     }
// }

// a.sSectionFooterStoreLink {
//     display: block;
//     margin-bottom: 16px;

//     img {
//         height: 40px;
//     }

//     &::after {
//         content: '';
//         margin: 0;
//     }
// }

// .sSectionFooterLinks {
//     display: flex;
//     flex-direction: column;
//     text-align: center;

//     > a,
//     > div {
//         color: var(--white);
//         cursor: pointer;
//         font-size: 14px;
//         margin-bottom: 16px;

//         &::after {
//             filter: invert(1);
//         }
//     }
// }

// .sSectionFooterSocials {
//     margin-top: 32px;
//     margin-bottom: 48px;

//     > a::after {
//         content: '';
//     }

//     img {
//         margin-left: 8px;
//         width: 32px;
//     }
// }

// .sSectionFooterSmallPrint {
//     font-size: 11px;

//     > small {
//         display: block;
//         margin-bottom: 16px;

//         &:last-child {
//             margin: 0;
//         }
//     }
// }

// @media (min-width: $bp-tabl) {
//     .sSectionFooterRow {
//         flex-direction: row;
//     }

//     .sSectionFooterLogo {
//         flex: 3;
//         margin-bottom: 56px;
//         text-align: left;

//         > img {
//             margin: 0 0 48px 0;
//         }
//     }

//     a.sSectionFooterStoreLink {
//         display: inline-block;
//         margin: 0 16px 0 0;
//     }

//     .sSectionFooterLinks {
//         margin-left: 32px;
//         text-align: right;
//     }

//     .sSectionFooterSocials {
//         flex: 3;
//         margin: 0;
//         order: 2;
//         text-align: right;
//     }

//     .sSectionFooterSmallPrint {
//         flex: 2;
//         order: 1;
//         text-align: left;
//     }
// }
