@use 'Colour';

* {
    box-sizing: border-box;
}

body {
    font: 100% "F37 Ginger", sans-serif;
    background-color: Colour.$WHITE;
    padding: 0;
    margin: 0;
    height: 100%;
    letter-spacing: 1px;
    overflow-x: hidden;
}

@media (max-width: 916px) {
    body {
        text-align: center;
    }
}

input {
    background: Colour.$WHITE;
    border-radius: 23px;
    font-size: 12px;
    padding: 20px 30px;
    margin: 20px 0;
    border: none;
    width: 100%;
    font: 100% "F37 Ginger", sans-serif;
    &:active,
    &:focus {
        outline: 0;
    }
}

.content {
    max-width: 1152px;
    margin: auto;
    padding: 128px 16px;
    position: relative;
}

@media (max-width: 916px) {
    .content {
        padding: 64px 16px;
    }
}
